*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

h1,h2{
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style:none;
    padding: 1rem;
}

nav ul li{
    margin: 0 15px;
}

.card{
    display: flex;
    background:#fff;
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    display: flex;
    text-align: center;
}

form label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input{
    width: 100%;
    padding:8px;
    margin-bottom:20px;
    border:1px solid#ddd;
    border-radius:4px;
    text-align: center;

}

.submit-button{
    width: 100%;
    padding:8px;
}

footer{
    text-align: center;
}
