h1{
    text-align: center;
}

h2{
    text-align: center;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style:none;
    padding-left: 0;
    background: ;
}

.card{
    display: flex;
    flex-flow: row wrap;
    background:#fff;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    max-width: 500px;
    margin: 2rem auto;
    display: flex;
}

.row{
    display: flex;
    flex-direction: column;
}

footer{
    text-align: center;
}
